.User{
    /* margin-bottom: 10px; */
}
.Userchat{
    margin-top: 5px;
    margin-bottom: 5px;
}
.GroupChat:hover{
    background-color: #f5f6fa;
}
.Userchat:hover{
    background-color: #f5f6fa;
}
.sidebar{
    background-color: white;
    width: 30% !important;
}